.actions :global {
  @apply flex items-center gap-x-2.5;

  .is-feature {
    @apply relative flex h-full items-center;
    .MuiSelect-select {
      @apply h-full w-full p-0 text-h6;
      .mobile-icon {
        @apply absolute flex h-[23px] w-full items-center justify-center lg:hidden;
      }
    }
    .MuiOutlinedInput-notchedOutline {
      @apply border-0;
    }
    .MuiInputBase-readOnly {
      @apply hover:cursor-text;
    }
    .is-feature-name {
      @apply hidden pl-3 pr-8 lg:block lg:py-0.5;
    }
  }
  .status {
    @apply relative flex h-full items-center;
    .MuiOutlinedInput-root {
      @apply h-6 w-6 rounded-full lg:h-auto lg:w-auto lg:rounded;
    }

    .MuiSelect-select {
      @apply h-full w-full;
      padding: 0 !important;
      .mobile-icon {
        @apply absolute flex h-[23px] w-full items-center justify-center lg:hidden;
      }
    }

    .MuiSelect-select[aria-expanded='true'] {
      .mobile-icon {
        transform: rotate(180deg) !important;
      }
    }
    .status-name {
      @apply hidden pl-3 pr-8 lg:block lg:py-1;
    }
    .MuiOutlinedInput-notchedOutline {
      @apply border-0;
    }

    .MuiSelect-icon {
      @apply hidden fill-white lg:block;
    }

    .MuiInputBase-readOnly {
      @apply hover:cursor-text;
    }
  }
  .piority {
    @apply h-6 w-fit;
    .MuiInputBase-root {
      .MuiSelect-select {
        @apply p-0;
      }
    }
    svg {
      @apply hidden;
    }
    .inner {
      @apply bg-blue-400;
    }
  }
  .MuiAutocomplete-root {
    @apply z-20 w-[218px] bg-white;
    @apply -ml-24 mt-20 lg:ml-0;
  }
}

.actions-kanban :global {
  @apply flex items-center gap-x-2.5;
  .is-feature {
    @apply relative flex h-full items-center;
    .MuiSelect-select {
      @apply h-full w-full px-2 py-0.5 text-h6;
      .mobile-icon {
        @apply absolute flex h-[23px] w-full items-center justify-center lg:hidden;
      }
    }
  }
  .status {
    @apply relative flex h-full items-center;
    .MuiOutlinedInput-root {
      @apply h-6 w-6 rounded-full lg:h-auto lg:w-auto lg:rounded;
    }

    .MuiSelect-select {
      @apply h-full w-full;
      padding: 0 !important;
      .mobile-icon {
        @apply absolute flex h-[23px] w-full items-center justify-center lg:hidden;
      }
    }

    .MuiSelect-select[aria-expanded='true'] {
      .mobile-icon {
        transform: rotate(180deg) !important;
      }
    }
    .status-name {
      @apply hidden pl-3 pr-8 lg:block lg:py-1;
    }
    .MuiOutlinedInput-notchedOutline {
      @apply border-0;
    }

    .MuiSelect-icon {
      @apply hidden fill-white lg:block;
    }
  }
  .piority {
    @apply h-6 w-fit;
    .MuiInputBase-root {
      .MuiSelect-select {
        @apply p-0;
      }
    }
    svg {
      @apply hidden;
    }
    .inner {
      @apply bg-blue-400;
    }
  }
  .MuiAutocomplete-root {
    @apply z-20 w-[218px] bg-white;
    @apply -ml-24 mt-20 lg:ml-0;
  }
}
