.sidebar :global {
  @apply w-[321px] h-full inline-flex flex-shrink-0 flex-col items-center justify-between p-8;
  
  .todoit {
    background: var(--Linear, linear-gradient(90deg, #3b92cf 0%, #3fc7f4 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

